<DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>
	<body>
		<h1 align="center">Menu</h1>
		<ol align="center">
			<li>2 fried eggs, American Cheese, and Thick-Cut Bacon in between a Bagel</li>
			<li>2 scrambled eggs, American Cheese, Sausage, and Maple Syrup in between 2 slices of French Toast</li>
			<li>Fresh Squeezed Orange Juice</li>
		</ol>
	</body>
</html>